/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&amba {
	i2c@40040000 {
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&intc>;
		interrupts = <0 30 4>;
		reg = <0x40040000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;
	
		i2cswitch@70 {
			compatible = "nxp,pca9546";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x70>;
	
			reset-gpios = <&gpio0 54 1>;

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
				adv7511_fmc: hdmi-tx@39 {
					compatible = "adi,adv7511";
					reg = <0x39>;

					pd-gpios = <&pca9534 4 0>;

					adi,input-depth = <8>;
					adi,input-colorspace = "yuv422";
					adi,input-clock = "1x";
					adi,input-style = <3>;
					adi,input-justification = "left";
					adi,embedded-sync;
					adi,clock-delay = <800>;
				};
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
				adv7611: hdmi-rx@4c {
					compatible = "adi,adv7611";
					reg = <0x4c>;
	
					reset-gpios = <&pca9534 0 1>;
					hpd-gpios = <&pca9534 2 0>;
	
					#address-cells = <1>;
					#size-cells = <0>;
	
					port@0 {
						reg = <0>;
					};
					port@1 {
						reg = <1>;
						adv7611_out: endpoint {
							remote-endpoint = <&vcap_hdmi_in>;
						};
					};
				};
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;
	
				pca9534: gpio@20 {
					compatible = "nxp,pca9534";
					reg = <0x20>;
					gpio-controller;
					#gpio-cells = <2>;
				};
			};
		};
	};
};
